<app-layout-section>
  <div class="hero bg-base-200 rounded-box">
    <div class="hero-content flex-col lg:flex-row py-10">
      <div class="text-center md:text-left">
        <h1 class="text-3xl font-bold">Gestion de productos</h1>
        <p class="py-4">
          Administrar tu catálogo de productos, para mejorar la experiencia de compra y el manejo de
          inventarios.
        </p>
      </div>
      <div class="w-full text-center md:text-right">
        <a class="btn btn-primary btn-wide" routerLink="/console/products/create">Crear producto</a>
      </div>
    </div>
  </div>

  <div class="hero bg-base-200 rounded-box mt-8">
    <div class="hero-content flex-row">
      <fieldset class="fieldset">
        <div class="join overflow-y-auto">
          <input type="text" class="input join-item" placeholder="Nombre del producto" />
          <button class="btn btn-secondary join-item">Buscar</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="hero bg-base-200 rounded-box mt-8 py-6">
    <div class="overflow-x-auto w-full">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Precio base</th>
            <th>Publicado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @if (dataGrid().length) { @for (item of dataGrid(); track item.id) {
          <tr>
            <th>
              <div class="text-4xl font-thin opacity-30 tabular-nums">{{ $index }}</div>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    @if (item.imageUrl) {
                    <img [src]="item.imageUrl" [alt]="item.name" />
                    } @else {
                    <img
                      src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                      alt="Avatar Tailwind CSS Component"
                    />
                    }
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{ item.name }}</div>
                  <div class="text-sm opacity-50">{{ item.brandOrProvider }}</div>
                </div>
              </div>
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.basePrice }}</td>
            <td>{{ item.isPublished }}</td>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>
          } } @else {
          <tr>
            <td colspan="6">
              <div class="hero bg-base-200 min-h-screen">
                <div class="hero-content text-center">
                  <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Hello there</h1>
                    <p class="py-6">
                      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                      exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p>
                    <button class="btn btn-primary">Get Started</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          }
        </tbody>
        <!-- foot -->
        <tfoot class="text-center">
          <tr>
            <td colspan="5">
              <div class="join">
                <button class="join-item btn">1</button>
                <button class="join-item btn btn-active">2</button>
                <button class="join-item btn">3</button>
                <button class="join-item btn">4</button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</app-layout-section>
