<div class="hero bg-base-200 py-20">
  <div class="hero-content flex-col lg:flex-row-reverse md:px-60 sm:px-10">
    <!-- <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="max-w-sm rounded-lg shadow-2xl"
    /> -->
    <div class="text-center md:text-left">
      <h1 class="text-5xl font-bold">¡Bienvenido a la familia de Avícola Clavo! ✨</h1>
      <div class="py-6 text-xl">
        <p>
          Hola, {{ userName() }}. Hemos preparado todas las herramientas que necesitas para que tu
          trabajo fluya sin problemas. Todo el control de nuestra producción está a solo un clic.
        </p>
        <br />
        <p>“Creciendo juntos, con la fuerza de nuestra gente.”</p>
      </div>
    </div>
  </div>
</div>
